.services_container {
  .services_card {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    .ImageContainer {
      width: 50%;
      .__img {
        box-shadow: none !important;
      }
    }
    .contentContainer {
      width: 50%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding: 1.5em 0.9em;
      &__title {
        font-weight: 700;
        line-height: 1.3;
        margin-bottom: 15px;
        font-size: 1.3em;
      }
      &__description {
        text-align: justify;
        // font-size: 1em;
      }
    }
  }
}
.detailedServiceCardContainer {
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: 1em 0;
  .detailedServiceCard {
    display: flex;
    flex-direction: row;
    padding: 1em 0.5em;
    width: 100%;
    .cardDesc {
      .__card {
        display: flex;
        flex-direction: row;
        align-items: center;
        &__imgContainer {
          // display: none;
          width: 2.5em;
          img {
            width: 100%;
            height: 100%;
            object-fit: contain;
          }
        }
        &__title {
        }
      }
      width: 25%;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      &__title {
        font-size: 1.4em;
        font-weight: 700;
      }
      &__desc {
        font-size: 1em;
      }
      a {
        font-size: 1em;
        font-weight: 700;
      }
    }
    .cardContainer {
      width: 75%;
      display: flex;
      flex-direction: row;
      .swipeCard {
        height: auto !important;
        background-color: transparent;
        padding: 0.2em;
      }
      .card {
        padding: 0.5em;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        // box-shadow: none !important;
        .ImageContainer {
          width: 2.3em;
          height: 2.3em;
          .__img {
            box-shadow: none !important;
            width: 100%;
            height: 100%;
            border-radius: 0.2em !important;
          }
        }
        .contentContainer {
          &__title {
            font-size: 0.8em;
          }
        }
      }
    }
  }
}
